$primary-color: #e4e4e4a8;
$secondary-color: #0a1b2a;

.App {
  text-align: center;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(
    to right,
    $secondary-color 30%,
    $primary-color 0%
  );
  height: 100vh;
  .word-cloud {
    width: 50vw;
    img {
      height: 110vh;
      opacity: 70%;
    }
  }
  .hello-world {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
